body {
  background-color: grey;
  text-align: center;
  font-family: sans-serif;
}
img {
  height:300px;
}
h1{
  font-size:60px;
  padding:50px;
}
/* search bar */
.input-group {
  margin-left:auto;
  margin-right:auto;
  width:600px;
  padding:50px;
}

#searchTerm {
  border-color:black;
}
#search{
  background-color:lightgrey;
  color:black;
  border-color:black;
  text-align:center;
}

/*results*/
#output {
  text-align: left;
}

.result {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 20px;
  padding: 40px;
  border-style: solid;
  border-color: black;
  border-size: 5px;
}