body {
  background-color: grey;
  text-align: center;
  font-family: sans-serif;
}
img {
  height:300px;
}
h1{
  font-size:60px;
  padding:50px;
}
/* search bar */
.input-group {
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  
}

#searchTerm {
  width:500px;
  border-color:black;
  display:inline;
  margin-left:1%;
  
}
#search{
  width:100px;
  background-color:lightgrey;
  color:black;
  border-color:black;
  text-align:center;
  display:inline;
  margin-left:-100px;
}
#input-group-btn{
  display:inline;
}


/*results*/
#output {
  text-align: left;
}

.result {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 20px;
  padding: 40px;
  border-style: solid;
  border-color: black;
  border-size: 5px;
}

